{% extends "base.twig" %}
{% block content %}
<h2>Home</h2>
<p>{{ message }}</p>
<p><a href="/sample-page?message=This%20Is%20A%20Page">See a Page</a></p>
<p><a href="/2017/03/04/hello-world">See a Post</a></p>
<p><a href="/category/uncategorised">See a Category</a></p>
<p><a href="/tag/test">See a Tag</a></p>
{% endblock %}